// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar"s source Stylus files. Setting
// variables before Quasar"s Stylus will use these variables rather than
// Quasar"s default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It"s highly recommended to change the default colors
// to match your app"s branding.

$primary   = $scala-green
$secondary = $scala-black-90
$tertiary  = $scala-black-80

$neutral   = #E0E1E2
$positive  = #2173BA
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$scala-green = linear-gradient(180deg, #69b9ff 0%, #0085fa 100%)
$scala-green-solid = #5BBBCA;
$scala-green-dark-solid = #307996;

$scala-black-90 = #0A0A0A
$scala-black-80 = #252525
$scala-black-60 = #313131
$scala-black-50 = #7E7E7E;
